@use 'base';

p {
    margin: auto;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-align: center;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

#Wiktror {
    padding: 0%;
    margin: 0%;
    width: 100%;
    text-align: center;
    background: #8C7CAD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
    height: 50px;
}

.menu {
    padding: 0%;
    margin: 13px 0 0 0;
    text-align: center;
    list-style: none;
    display: none;
}

#Wiktror:hover .red {
    color: red;
    cursor: pointer;
}

#Wiktror:hover .menu {
    cursor: pointer;
    display: block;
}

#uldiv {
    margin: auto;
    width: 13%;
    background: #9F8CC6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 15px 15px;
}

.Mli {
    margin: auto;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    text-align: center;

    color: #000000;
}

#W:hover {
    background-color: rgb(92, 92, 241);
    font-size: 26px;
}

#W{
    border-bottom: 1px solid;
    border-radius: 5px;
}

#E:hover {
    background-color: rgb(92, 92, 241);
    font-size: 26px;
}

#E {
    border-bottom: 1px solid;
    border-radius: 5px;
}

#K:hover {
    background-color: rgb(92, 92, 241);
    font-size: 26px;
}

#K {

    border-radius: 0px 0px 15px 15px;
}